<% layout('/layouts/boilerplate') -%>

    <body class="login-body">
        <div class="signup-main">
            <div class="card card-login" style="width: 18rem;">
                <img src="https://png.pngtree.com/png-vector/20220814/ourlarge/pngtree-rounded-vector-icon-in-flat-black-and-white-for-user-profile-vector-png-image_19500858.jpg"
                    class="card-img-top login-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title mt-2">Welcome!</h5>
                </div>
                
                <form class="needs-validation" method="post" action="/home/new" novalidate>
                    <div class="card-body-loginAs mt-2">
                        <label for="As" class="form-label">As: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <select name="login[As]" id="loginAs" class="form-control">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="email-div">
                        <label for="name" class="form-label">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input placeholder="Haven Hub" name="login[name]" required  class="form-control">
                    </div>
                    <div class="email-div">
                        <label for="mobile" class="form-label">Mob no:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input placeholder="9999999999" name="login[mobile]" required  class="form-control">
                    </div>
                    <div class="email-div">
                        <label for="email" class="form-label">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input placeholder="haven.hub@gmail.com" name="login[email]" required  class="form-control">
                    </div>
                    <div class="email-div">
                        <label for="password" class="form-label">Password: &nbsp;</label>
                        <input placeholder="****" name="login[password]" type="password" required class="form-control">
                    </div>
                    <div class="email-div">
                        <input value="terms" type="checkbox" required id="radio-terms">
                        <label for="terms" class="form-label">&nbsp;I'm aware of T&C.</label>
                        
                    </div>

                    <button class="btn-signup-create mt-4 mb-4">Create Account</button>
                </form>
               
                <div class="card-body">
                    <a href="/home" class="card-link">Back</a>
                    <a href="/home/login" class="card-link">Already have an account?</a>
                </div>
            </div>
        </div>

    </body>